<ion-view title="Login With">
  <ion-content class="xhas-header padding">
    <a class="button button-block button-dark icon-left ion-social-googleplus" href="#/tab/report">
	 Google
	</a>
	<a class="button button-block button-dark icon-left ion-social-facebook" href="#/tab/report">
	  Facebook
	</a>
	<a class="button button-block button-dark icon-left ion-social-twitter" href="#/tab/report">
	  Twitter
	</a>
	<a class="button button-block button-dark icon-left ion-social-linkedin" href="#/tab/report">
	  LinkedIn
	</a>
  </ion-content>
</ion-view>
